@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
:root {
  --Lightgrayishred: #fef2f2;
  --Brightred: #f26440;
  --Verydarkcyan: #286f6c;
  --Gray: #adadad;
  --white: #ffffff;
  --Lightgrayishorange: #f9f5f2;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  user-select: none;
  scroll-margin-top: 50px;
}
html {
  height: -webkit-fill-available;
}
body {
  height: 100%;
  
}

h1 {
  font-size: 50px;
  font-weight: 600;
}
h2 {
  font-size: 32px;
  font-weight: 600;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
p {
  font-size: 16px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
  
}
li {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.colorgreen {
  color: var(--Verydarkcyan);
}
.colorwhite {
  color: var(--white);
}
.colorgray {
  color: var(--Gray);
}
.portfoliocontainer {
  height: 100%;
  min-width: 310px;
}
.porfolio__home {
  padding: 60px 2rem 0;
  position: relative;
  height: 100%;
  background-color: var(--Lightgrayishred);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.porfolio__home--devphotobox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.porfolio__home--devphoto {
  height: 50vh;
}
.porfolio__home--navbar {
  position: fixed;
  background-color: var(--Lightgrayishred);
  height: 50px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 0.5rem;
}
.porfolio__home--navbar--menuiconbox {
  width: 30px;
  cursor: pointer;
}
#hambmenuicon:active {
  animation: rotate-center 0.3s ease-in-out both;
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.porfolio__home--navbar--menu {
  position: absolute;
  top: 50px;
  right: 0;
  height: 100vh;
  width: 50vw;
  background-color: var(--Lightgrayishred);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
  transition: transform 0.8s;
  transform: translateX(50vw);
}
.menushow {
  transform: translateX(0vw);
  transition: transform 0.8s;
}
.porfolio__home--navbar--menu li {
  padding: 2rem;
  border: 1px solid transparent;
  transition: background-color 0.5s,
  color 0.5s,transform 0.5s;
  border-radius: 1rem;
}
.porfolio__home--navbar--menu li:active{
  transform: translateY(5px);
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  border-radius: 1rem;
  color: var(--Verydarkcyan);
  transition: background-color 0.5s,
  color 0.5s,transform 0.5s;
  border-radius: 1rem;
}

.porfolio__home--socialicons {
  display: flex;
  gap: 50px;
}

.porfolio__home--socialicons span {
  height: 50px;
  width: 50px;
  background-color: var(--Brightred);
  border-radius: 50%;
  border: 2px solid var(--white);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.porfolio__home--socialicons img {
  width: 24px;
}
.porfolio__aboutme {
  padding: 4rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.porfolio__abilities {
  padding: 4rem 1rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: -1;
}

.porfolio__abilities--boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  max-width: 900px;
}

.porfolio__abilities--box {
  padding: 1rem 0.5rem 0rem;
  background-color: var(--Lightgrayishred);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 150px;
}

.porfolio__abilities--box--header {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.porfolio__abilities--box--header--span1::before {
  content: url(../img/icons/idea.png);
  display: block;
}
.porfolio__abilities--box--header--span2::before {
  content: url(../img/icons/rule.png);
  display: block;
}
.porfolio__abilities--box--header--span3::before,
.porfolio__abilities--box--header--span4::before {
  content: url(../img/icons/smartphone.png);
  display: block;
}
.greencircle {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: var(--Verydarkcyan);
  border-radius: 50%;
  top: 0;
  left: -40px;
  z-index: -2;
}

.orangecircle {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: var(--Brightred);
  left: -50px;
  top: 20px;
  border-radius: 50%;
  z-index: -1;
}

.porfolio__experience {
  padding: 4rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.porfolio__experiencie--gridlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.porfolio__experiencie--gridlisbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}
.porfolio__experiencie--gridlisbox p:nth-child(3) {
  color: var(--Gray);
  font-size: 14px;
  font-weight: 600;
}
.porfolio__experiencie--gridlisbox p:nth-child(4) {
  color: var(--Gray);
  font-size: 12px;
}

.porfolio__experiencie--gridlisbox img {
  grid-column: 1/2;
  grid-row: 1/4;
  height: 100px;
  width: 100px;
}

.porfolio__experiencie--gridlisbox h3:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.porfolio__experiencie--gridlisbox p:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.porfolio__experiencie--gridlisbox p:nth-child(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.porfolio__experiencie--gridlisbox h3:nth-child(5) {
  grid-column: 3/4;
  grid-row: 1/4;
  align-self: center;
}

.porfolio__portfolio {
  position: relative;
  z-index: -1;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.porfolio__portfolio span {
  position: absolute;
  background-color: var(--Verydarkcyan);
  height: 70%;
  width: 100%;
  z-index: -5;
  left: 0;
  top: 100px;
}
.porfolio__portfolio figure {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 20px 12px rgba(0, 0, 0, 0.34);
  background-color: var(--white);
}
.porfolio__portfolio figcaption {
  font-weight: 600;
  padding-top: 0.5rem;
  font-size: 20px;
}

.porfolio__portfolio--info {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.porfolio__portfolio--info p {
  line-height: 1.5;
}

.porfolio__contact {
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  z-index: -1;
}
.porfolio__contact_info {
  align-self: center;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
  padding: 0 3rem;

}

.porfolio__contact figure {
  background-color: var(--Brightred);
  border: 1px solid var(--white);
  overflow: hidden;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.porfolio__contact figure img {
  display: flex;
  height: 40px;
}

.porfolio__contact_infobox a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.porfolio__contact_infobox p {
  font-size: 14px;
}

.student {
  padding-top: 3rem;
  text-align: center;
  color: var(--Brightred);
}

.student img {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0px 5px;
}

.greenbasecircle {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--Lightgrayishorange);
  z-index: -2;
  border-radius: 50%;
  left: -65px;
  top: 80px;
}
