@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
:root {
  --Lightgrayishred: #fef2f2;
  --Brightred: #f26440;
  --Verydarkcyan: #286f6c;
  --Gray: #adadad;
  --white: #ffffff;
  --Lightgrayishorange: #f9f5f2;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  user-select: none;
  scroll-margin-top: 50px;
}
html {
  height: -webkit-fill-available;
}
body {
  height: 100%;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}
h2 {
  font-size: 32px;
  font-weight: 600;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
p {
  font-size: 16px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.colorgreen {
  color: var(--Verydarkcyan);
}
.colorwhite {
  color: var(--white);
}
.colorgray {
  color: var(--Gray);
}
.portfoliocontainer {
  height: 100%;
  min-width: 310px;
}
.porfolio__home {
  padding: 60px 2rem 0;
  position: relative;
  height: 100%;
  background-color: var(--Lightgrayishred);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/*---------------------------------------------*/
#hambmenuicon {
  cursor: pointer;
  display: block;
  width: 35px;
  height: 35px;
}
#hambmenuicon:active{
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
.porfolio__home--navbar {
  position: fixed;
  top: 0;
  background-color: var(--Lightgrayishred);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5rem;
  height: 45px;
}
.porfolio__home--navbar--menu {
  background-color: var(--Lightgrayishred);
  position: absolute;
  top: 45px;
  right: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 3rem;
  padding-top: 2rem;
  transform: translateX(50vw);
  transition: transform 0.7s;
}
.menushow {
  transform: translateX(0vw);
  transition: transform 0.7s;
}

.porfolio__home--navbar--menu li {
  width: 45vw;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-weight: 600;
  border: 1px solid transparent;
  transition: color 0.5s, border 0.5s, scale 0.5s, background-color 0.5s;
}
.porfolio__home--navbar--menu li:hover {
  color: var(--Verydarkcyan);
  border: 1px solid var(--Verydarkcyan);
  scale: 1.1;
  transition: color 0.5s, border 0.5s, scale 0.5s, background-color 0.5s;
}
.porfolio__home--navbar--menu li:active {
  background-color: var(--white);
  scale: 1;
  transition: color 0.5s, border 0.5s, scale 0.5s, background-color 0.5s;
}

/*-----------------------------------------*/
.porfolio__home--devphotobox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.porfolio__home--devphotodesktop {
  display: none;
}
.porfolio__home--devphotomobile {
  height: 50vh;
}

.porfolio__home--socialicons {
  display: flex;
  gap: 50px;
}
.porfolio__home--devphotogreenbase {
  display: none;
}
.porfolio__home--socialicons span {
  height: 50px;
  width: 50px;
  background-color: var(--Brightred);
  border-radius: 50%;
  border: 2px solid var(--white);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.porfolio__home--socialicons img {
  width: 24px;
}
.porfolio__aboutme {
  padding: 4rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.porfolio__abilities {
  padding: 4rem 1rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: -1;
}

.porfolio__abilities--boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.porfolio__abilities--box {
  padding: 1rem 0.5rem 0rem;
  background-color: var(--Lightgrayishred);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 150px;
}

.porfolio__abilities--box--header {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.porfolio__abilities--box--header--span1::before {
  content: url(../img/icons/idea.png);
  display: block;
}
.porfolio__abilities--box--header--span2::before {
  content: url(../img/icons/rule.png);
  display: block;
}
.porfolio__abilities--box--header--span3::before,
.porfolio__abilities--box--header--span4::before {
  content: url(../img/icons/smartphone.png);
  display: block;
}
.porfolio__abilities--box p {
  line-height: 2rem;
}
.greencircle {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: var(--Verydarkcyan);
  border-radius: 50%;
  top: 0;
  left: -40px;
  z-index: -2;
}

.orangecircle {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: var(--Brightred);
  left: -50px;
  top: 20px;
  border-radius: 50%;
  z-index: -1;
}

.porfolio__experience {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.porfolio__experiencie--gridlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.porfolio__experiencie--gridlisbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}
.porfolio__experiencie--gridlisbox p:nth-child(3) {
  color: var(--Gray);
  font-size: 14px;
  font-weight: 600;
}
.porfolio__experiencie--gridlisbox p:nth-child(4) {
  color: var(--Gray);
  font-size: 12px;
}

.porfolio__experiencie--gridlisbox img {
  grid-column: 1/2;
  grid-row: 1/4;
  height: 100px;
  width: 100px;
}

.porfolio__experiencie--gridlisbox h3:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.porfolio__experiencie--gridlisbox p:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.porfolio__experiencie--gridlisbox p:nth-child(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.porfolio__experiencie--gridlisbox h3:nth-child(5) {
  grid-column: 3/4;
  grid-row: 1/4;
  align-self: center;
}

.porfolio__portfolio {
  position: relative;
  z-index: -1;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.porfolio__portfolio span {
  position: absolute;
  background-color: var(--Verydarkcyan);
  height: 70%;
  width: 100%;
  z-index: -5;
  left: 0;
  top: 100px;
}
.porfolio__portfolio figure {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 20px 12px rgba(0, 0, 0, 0.34);
  background-color: var(--white);
}
.porfolio__portfolio figcaption {
  font-weight: 600;
  padding-top: 0.5rem;
  font-size: 20px;
}

.porfolio__portfolio--info {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.porfolio__portfolio--info p {
  line-height: 1.5;
}

.porfolio__contact {
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  z-index: -1;
}
.porfolio__contact_info {
  max-width: 900px;
  align-self: center;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
  padding: 0 3rem;
}

.porfolio__contact figure {
  background-color: var(--Brightred);
  border: 1px solid var(--white);
  overflow: hidden;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.porfolio__contact figure img {
  display: flex;
  height: 40px;
}

.porfolio__contact_infobox a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.porfolio__contact_infobox p {
  font-size: 14px;
}

.student {
  padding-top: 3rem;
  text-align: center;
  color: var(--Brightred);
}

.student img {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
}

.greenbasecircle {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--Lightgrayishorange);
  z-index: -2;
  border-radius: 50%;
  left: -65px;
  top: 80px;
}

.hearticon {
  animation: scale-up-center 1s cubic-bezier(0.5, 0.575, 0.565, 1.1) infinite
    both;
}

.codigogithub{
padding-top: 2rem;
color: black;
transition: scale 0.5s;
}
.codigogithub:hover{
  scale: 1.2;
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (min-width: 850px) {
  h1 {
    font-size: 80px;
    font-weight: 600;
  }
  h2 {
    font-size: 40px;
    font-weight: 600;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
  p {
    font-size: 18px;
    font-weight: 400;
  }

  #hambmenuicon {
    display: none;
  }

  .porfolio__home--navbar {
    position: fixed;
    top: 0;
    background-color: var(--Lightgrayishred);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    z-index: 0;
    left: 0;
  }

  .porfolio__home--navbar--menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: var(--Lightgrayishred);
    align-items: center;
    position: static;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    padding-top: 0rem;
    transform: translateX(0vw);
    padding-right: 1rem;
  }

  .porfolio__home--navbar--menu li {
    width: 100%;
  }

  .porfolio__home--devphotomobile {
    display: none;
  }

  .porfolio__home--devphotodesktop {
    display: block;
    height: 80vh;
    min-width: 400px;
  }

  .porfolio__home--devphotogreenbase {
    display: block;
    position: absolute;
    width: 550px;
    height: 550px;
    background-color: var(--Verydarkcyan);
    z-index: -2;
    border-radius: 50%;
    bottom: 60px;
    place-self: center;
  }
  .porfolio__home {
    display: grid;
    grid-template-columns: 1f 1f;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    display: relative;
    z-index: 1;
    padding: 0rem 10rem 0 4rem;
  }
  .porfolio__home h1 {
    width: 400px;
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: flex-end;
    text-align: left;
    padding-top: 10rem;
  }
  .porfolio__home--socialicons {
    grid-column: 1/2;
    grid-row: 2/3;
    place-self: flex-start;
  }

  .porfolio__home--devphotobox {
    grid-column: 2/3;
    grid-row: 1/3;
    place-self: flex-end;
    display: relative;
  }

  .porfolio__home--socialicons span {
    height: 80px;
    width: 80px;
  }

  .porfolio__home--socialicons img {
    width: 40px;
  }

  .porfolio__aboutme {
    padding: 4rem 12rem;
  }

  .porfolio__abilities {
    padding: 4rem 12rem 12rem;
  }

  .porfolio__abilities--boxes {
    gap: 2rem;
  }
  .porfolio__abilities--box {
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s;
  }
  .porfolio__abilities--box:hover {
    transform: translateY(-10px);
    box-shadow: -3px 12px 16px -3px rgba(0, 0, 0, 0.75);
  }
  .greencircle {
    width: 600px;
    height: 600px;
    top: -50px;
    left: 0px;
  }

  .orangecircle {
    width: 200px;
    height: 200px;
    left: -10px;
    top: 20px;
  }

  .porfolio__experience {
    padding: 4rem 5rem 6rem;
  }
  .porfolio__experience h2 {
    padding-left: 12rem;
  }

  .porfolio__experiencie--gridlisbox {
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s;
    border-radius: 1rem;
    padding: 0.5rem;
  }
  .porfolio__experiencie--gridlisbox:hover {
    transform: translateY(-10px);
    box-shadow: -3px 12px 16px -3px rgba(0, 0, 0, 0.75);
  }
  .porfolio__experiencie--gridlisbox h3:nth-child(5) {
    display: flex;
    justify-content: flex-end;
  }

  .porfolio__portfolio {
    z-index: -1;
    padding: 0rem 5rem;
    gap: 0rem;
  }
  .porfolio__portfolio figure {
    cursor: pointer;
    height: 450px;
    width: 500px;
    padding: 2rem;
    transition: scale 0.5s;
  }

  .porfolio__portfolio figure:hover {
    scale: 1.1;
  }
  .porfolio__portfolio figure:nth-child(4) {
    align-self: flex-end;
    transform: translateY(-80px);
  }

  .porfolio__portfolio--info {
    position: absolute;
    right: 150px;
    top: 150px;
    width: 600px;
  }
  .porfolio__contact {
    padding: 2rem 14rem 4rem;
  }
  .greenbasecircle {
    width: 350px;
    height: 350px;
  }
  

}
